<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= f.error_notification %>
<div class="form-container">
  <div class="form-left">
    <div class="header">
      <h2>Sign up</h2>
    </div>
    <div class="form-inputs">
      <%= f.input :email,
      required: true,
      autofocus: true,
      input_html: { autocomplete: "email" }%>
      <%= f.input :password,
      required: true,
      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
      input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
      required: true,
      input_html: { autocomplete: "new-password" } %>
      <%= f.input :first_name,
      required: true,
      input_html: { autocomplete: "first_name" } %>
      <%= f.input :last_name,
      required: true,
      input_html: { autocomplete: "last_name" } %>
      <%= f.input :city,
      required: true,
      input_html: { autocomplete: "city" } %>
      <%= f.input :country,
      required: true,
      input_html: { autocomplete: "country" } %>
      <%= f.input :avatar, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="form-right">
  </div>
</div>
<% end %>

///////////////////////////////////////////////////////////////////////////////
<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Welcome Back</h2>
      <h4 class="animation a2">Log in to your account using email and password</h4>
    </div>
    <div class="form">
      <input type="email" class="form-field animation a3" placeholder="Email Address">
      <input type="password" class="form-field animation a4" placeholder="Password">
      <p class="animation a5"><a href="#">Forgot Password</a></p>
      <button class="animation a6">LOGIN</button>
    </div>
  </div>
  <div class="right"></div>
</div>

