<% if user_signed_in? %>
<div class="homepage-image">
  <div class="welcome-message">
    <div class="welcome">
        <h1 class="welcome-to">Welcome to Wubba</h1>
        <p class="slogan">Learning is a series of partnerships</p>
    </div>
    <div class="homepage-buttons">
      <%= link_to "Notifications", dashboard_path, class: "btn-primary sign" %>
      <% if current_user.matches.last.present? %>
      <%= link_to "Matches", match_path(current_user.matches.last), class: "btn-primary sign btn-right" %>
      <% end %>
      <%= link_to "Posts", posts_path, class: "btn-primary sign btn-right" %>
      <%= link_to "Search Partner", matches_path, class: "btn-primary sign btn-right" %>
    </div>
  </div>
</div>
  <% else  %>
<div class="homepage-image">
    <div class="banner">
      <div class="homepage-heading">
        <h1 class="homepage-title">WUBBA</h1>
      </div>

      <div class="slogan">
        <p>Learning is a series of partnerships</p>
      </div>
      <div class="login-signup-buttons">
        <% if user_signed_in? %>
        <% else %>
        <%= link_to "LOGIN", new_user_session_path, class: "btn-primary sign btn-left" %>
        <%= link_to "SIGN UP", new_user_registration_path, class: "btn-primary sign btn-right" %>
        <% end %>
      </div>
    </div>
</div>

<div class="row justify-content no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="https://res.cloudinary.com/dbpprlxfm/image/upload/v1618797533/hel7ayl2fea3voophrzx.png" alt>
  </div>
  <div class="col-lg-6">
    <div class="bg-white text-center h-100 Mentor">
      <div class="find d-flex h-100" style="background: white;">
        <div class="mentor-text w-100 my-auto text-center text-lg-left">
          <h4 style="color: #FF385C;text-align: center;font-size: 72px;">Find your Match</h4>
          <p class="mb-0 text-black-50" style="color: black;text-align: center;">
            Find a partner who wants to learn the same tech stack
          </p>
<!--           <hr class="d-none d-lg-block mb-0 ml-0"> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content no-gutters">
  <div class="col-lg-6">
  <img class="img-fluid" src="https://res.cloudinary.com/dbpprlxfm/image/upload/v1618797524/tc5irbftn7idpvcbwvzw.png" alt>
  </div>
  <div class="col-lg-6 order-lg-first">
    <div class="bg-black text-center h-100 Mentor">
      <div class="d-flex bg-black h-100" style="background: white;">
        <div class="mentor-text w-100 my-auto text-center text-lg-right">
          <h4 style="color: #FF385C;text-align: center;font-size: 72px;">Message</h4>
          <p class="mb-0 text-black-50" style="color: black;text-align: center;">
            Send messages to people who have matched with you
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="https://res.cloudinary.com/dbpprlxfm/image/upload/v1618797513/h0l3qvn5hf6wlcgpew4x.png" alt>
  </div>
  <div class="col-lg-6">
    <div class="bg-white text-center h-100 Mentor">
      <div class="find d-flex h-100" style="background: white;">
        <div class="mentor-text w-100 my-auto text-center text-lg-left">
          <h4 style="color: #FF385C;text-align: center;font-size: 72px;">Posts</h4>
          <p class="mb-0 text-black-50" style="color: black;text-align: center;">
            Create posts to reach out other users
          </p>
<!--           <hr class="d-none d-lg-block mb-0 ml-0"> -->
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
