<% if user_signed_in? %>
<div class="homepage-image">
  <div class="welcome-message">
    <div class="welcome">
        <h1 class="welcome-to">Welcome to Wubba</h1>
        <p class="slogan">Learning is a series of partnerships</p>
    </div>
    <div class="homepage-buttons">
      <%= link_to "Notifications", dashboard_path, class: "btn-primary sign" %>
      <%= link_to "Matches", match_path(current_user.matches.last), class: "btn-primary sign btn-right" %>
      <%= link_to "Posts", posts_path, class: "btn-primary sign btn-right" %>
      <%= link_to "Search Partner", matches_path, class: "btn-primary sign btn-right" %>
    </div>
  </div>
</div>
  <% else  %>
<div class="homepage-image">
    <div class="banner">
      <div class="homepage-heading">
        <h1 class="homepage-title">WUBBA</h1>
      </div>

      <div class="slogan">
        <p>Learning is a series of partnerships</p>
      </div>
      <div class="login-signup-buttons">
        <% if user_signed_in? %>
        <% else %>
        <%= link_to "LOGIN", new_user_session_path, class: "btn-primary sign btn-left" %>
        <%= link_to "SIGN UP", new_user_registration_path, class: "btn-primary sign btn-right" %>
        <% end %>
      </div>
    </div>
</div>

<div class="row justify-content no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt>
  </div>
  <div class="col-lg-6">
    <div class="bg-white text-center h-100 Mentor">
      <div class="find d-flex h-100" style="background: black;">
        <div class="mentor-text w-100 my-auto text-center text-lg-left">
          <h4 style="color: white;text-align: center;font-size: 72px;">Mentor</h4>
          <p class="mb-0 text-white-50" style="color: white;text-align: center;">
            Whether you're looking to create a start up or further your career, there is a mentor for you.
          </p>
<!--           <hr class="d-none d-lg-block mb-0 ml-0"> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content no-gutters">
  <div class="col-lg-6">
  <img class="img-fluid" src="https://images.unsplash.com/photo-1522881193457-37ae97c905bf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt>
  </div>
  <div class="col-lg-6 order-lg-first">
    <div class="bg-black text-center h-100 Mentor">
      <div class="d-flex bg-black h-100" style="background: black;">
        <div class="mentor-text w-100 my-auto text-center text-lg-right">
          <h4 style="color: white;text-align: center;font-size: 72px;">Bookings</h4>
          <p class="mb-0 text-white-50" style="color: white;text-align: center;">
            Schedule a meeting in seconds
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt>
  </div>
  <div class="col-lg-6">
    <div class="bg-white text-center h-100 Mentor">
      <div class="find d-flex h-100" style="background: black;">
        <div class="mentor-text w-100 my-auto text-center text-lg-left">
          <h4 style="color: white;text-align: center;font-size: 72px;">Mentor</h4>
          <p class="mb-0 text-white-50" style="color: white;text-align: center;">
            Whether you're looking to create a start up or further your career, there is a mentor for you.
          </p>
<!--           <hr class="d-none d-lg-block mb-0 ml-0"> -->
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
