<div class="d-flex justify-content-center mt-3">
  <%= form_tag(matches_path, method: :get) do %>
  <%#= form_tag(matches_path, method: :get, id: 'search-form') do %>
  <%#= text_field_tag(:search, params[:search]) %>

  <%= select_tag "search", options_from_collection_for_select(current_user.tech_stacks.uniq, "id", "name" ), class: 'select2'  %>

  <%= submit_tag ("Search"), class: 'btn-red' %>
  <% end %>
</div>
<% if @possibles %>
<ul id="slides">
  <% @possibles.each_with_index do |possible, i| %>
  <div class="slide <%= 'showing' if i == 0 %>" data-id="<%= possible.id %>">
    <div class="shadow">
      <div class="card-white">
        <div class="profile">
          <% if possible.avatar.attached? %>
          <%= cl_image_tag(possible.avatar.key, class: "avatarimg", :transformation=>[
            {:width=>400, :height=>400, :gravity=>"face", :crop=>"crop"},
            {:width=>350, :crop=>"scale"}
            ]) %>
            <% end %>
            <div class="name d-flex">
              <h2> <%= possible.first_name %> </h2>
            </div>
            <div class="cards">
              <div class="box">
                <h5> Age: </h5>
                <p><%= possible.age %></p>
              </div>
              <div class="box">
                <h5> Location </h5>
                <p> <%= possible.city %>, <%= possible.country %></p>
              </div>
              <div class="box">
                <h5> Experience </h5>
                <p> <%= possible.user_selections.last.experience %></p>
              </div>
              <div class="box">
                <h5> Objective </h5>
                <p> <%= possible.user_selections.last.objective %></p>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to matches_path(match: { matchee_id: possible.id, status: 0 } ), method: :post, remote: true do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
              </svg>
              <% end %>
              <%= link_to matches_path(match: { matchee_id: possible.id, status: 1 } ), method: :post, remote: true do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l5 5l10 -10" />
              </svg>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </ul>
  <div class="d-flex flex-column align-items-center">
    <div id="slide-controls">
      <span class="controls" id="decline"><i class="fa fa-times fa-2x"></i></span>
      <span class="controls" id="approve"><i class="fa fa-check fa-2x" ></i></span>
    </div>
  </div>
  <% else %>
  <div class="alert alert-warning" role="alert">
  Click the search button above to start browsing</a>.
</div>
<% end %>


