<%= form_tag(matches_path, method: :get) do %>
  <%#= text_field_tag(:search, params[:search]) %>

  <%= select_tag "search", options_from_collection_for_select(current_user.tech_stacks.uniq, "id", "name") %>

  <%= submit_tag ("Search") %>
<% end %>

<% if @possibles %>
  <ul id="slides">
    <% @possibles.each_with_index do |possible, i| %>
    <div class="slide <%= 'showing' if i == 0 %>" data-id="<%= possible.id %>">
      <div class="card-white">
    <h1> Profile </h1>
    <div class="profile">
      <% if possible.avatar.attached? %>
      <%= cl_image_tag(possible.avatar.key, class: "avatarimg", :transformation=>[
        {:width=>400, :height=>400, :gravity=>"face", :crop=>"crop"},
        {:width=>350, :crop=>"scale"}
        ]) %>
        <% end %>
        <div class="name">
          <h2> <%= possible.first_name %> </h2>
        </div>
        <div class="cards">
          <div class="box">
            <h5> Location: </h5>
            <p><%= possible.first_name %></p>
          </div>
          <div class="box">
            <h5> Age </h5>
            <p> <%= possible.first_name %></p>
          </div>
          <div class="box">
            <h5> City </h5>
            <p> <%= possible.first_name %></p>
          </div>
          <div class="box">
            <h5> Experience </h5>
            <p> <%= possible.first_name %></p>
          </div>
        </div>
      </div>
    </div>
      <%= link_to "Like", matches_path(match: { matchee_id: possible.id, status: 1 } ), method: :post, remote: true, class: "btn btn-primary" %>
      <%= link_to "Reject", matches_path(match: { matchee_id: possible.id, status: 0 } ), method: :post, remote: true, class: "btn btn-primary" %>
    </div>
    <% end %>
  </ul>


<div class="d-flex flex-column align-items-center">
  <div id="slide-controls">
    <span class="controls" id="decline"><i class="fa fa-times fa-2x"></i></span>
    <span class="controls" id="approve"><i class="fa fa-check fa-2x"></i></span>
  </div>
</div>
<% else %>
<h5>You currently do not have any tech stacks selected or there are no current matches according to your tech stack. If you need to update your preferences, head to http://localhost:3000/user_selections/new to add a new tech stack!</h5>
<% end %>


