<div class="container-chat">

  <div class="chat-members">
    <% @matches.each do |match|%>
      <%= link_to match_path(match), class: "chat-member" do %>
        <%= cl_image_tag match.partner(current_user).avatar.key, :width=>300, :height=>300, :gravity=>"faces", radius: 'max', :crop=>"fill" %>
        <p><%= match.partner(current_user).first_name %></p>
      <% end %>
    <% end %>
  </div>

  <div class="chat-page">
    <% if @match.status == 2 %>
    <div id="messages" data-match-id="<%= @match.id %>">
     <% @match.match_messages.each do |message| %>
     <%= render 'match_messages/match_message', message: message %>
     <% end %>
     <% else %>
     <p>This match does not exist yet</p>
     <% end %>
   </div>
   <!-- chat-page end below -->
 </div>

 <div class="chat-box">
   <%= simple_form_for [ @match, @match_message ], html: {autocomplete: "off"}, remote: true do |f| %>
   <div class="d-flex chat-line">
   <%= f.input :content, label: false, placeholder: "Message #{@match.partner(current_user).first_name}" %>
   <%= f.submit ">", class: "btn-chat btn-primary" %>
   </div>
   <% end %>
   <!-- chat box end below -->
 </div>
 <!-- container end below -->
</div>
