<div class="card-white">
  <h1> Your profile </h1>
  <div class="card-trip">
    <% if @user.avatar.attached? %>
    <%= cl_image_tag(@user.avatar.key, :transformation=>[
      {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
      {:width=>150, :crop=>"scale"}
      ]) %>
      <% end %>
      <h2> <%= @user.first_name %> <%= @user.last_name %> </h2>
      <p> Location: <%= @user.city %>, <%= @user.country %> </p>
      <p> Education: <%= @user.education %> </p>
      <p> Bootcamp? <%= @user.bootcamp %> </p>
  </div>
</div>
