<div class="card-white">
  <h1> <%= @user.first_name %> <%= @user.last_name %>'s profile </h1>
  <div class="profile">
    <% if @user.avatar.attached? %>
    <%= cl_image_tag(@user.avatar.key, :transformation=>[
      {:width=>400, :height=>400, :gravity=>"face", :crop=>"crop"},
      {:width=>300, :crop=>"scale"}
      ]) %>
      <% end %>
      <h2> <%= @user.first_name %> </h2>
    <div class="cards">
      <div class="box">
      <p> Location: <%= @user.city %>, <%= @user.country %></p>
      </div>
      <div class="box">
      <p> Age <%= @user.age %></p>
      </div>
      <div class="box">
      <p> City <%= @user.city %></p>
      </div>
      <div class="box">
      <p> Experience <%= @user.experience_level %></p>
      </div>
    </div>
  </div>
</div>


<h1>Notifications#index</h1>
<p>Find me in app/views/notifications/index.html.erb</p>
<div id="notifications">
  <% @notifications.each do |notification| %>
  <%= render 'notifications/notification', notification: notification %>
  <% end %>
</div>
