<ul></ul>
<% @list_of_possibles.each do |possible| %>
<li><%= possible.first_name %></li>
<li><%= possible.last_name %></li>
<li><%= possible.username %></li>
<li><%= possible.experience_level %></li>
<li><%= possible.city %></li>
<li><%= possible.country %></li>
<li><%= possible.gender %></li>
<li><%= possible.education %></li>
<li><%= possible.bootcamp %></li>
<li><%= possible.employment_status %></li>
<% end %>
</ul>
