<div class="card-white">
  <h1> Posts </h1>
    <div class="card-product">
      <!-- change to user avatar pic -->
      <%= cl_image_tag @post.user.avatar.key, class:"post-image" %>
      <div class="card-product-infos">
        <h2> <%= @post.title %> </h2>
        <p> Posted by: <%= @post.user.first_name %> <%= @post.user.last_name %> </p>
        <p>  Date posted: <%= @post.date %></p>
      </div>
    </div>
    <div class="card-product">
      <p> <%= @post.description %> </p>
    </div>
     <div style="margin-top: 10px;margin-bottom: 10px;">
    <div class="border"></div>
  </div>
    <div class="card-product-infos">
      <h2>Comments</h2>
    </div>
    <div class="card-product-infos">
      <% @post.comments.each do |comment| %>
      <p> <%= comment.user.username %> replied: <%= comment.reply %> </p>
      <% end %>
    </div>
    <div class="card-product-infos">
      <%= simple_form_for [@post, @comment] do |f| %>
      <%= f.input :reply %>
      <%= f.submit %>
    <% end %>
    </div>
    <% if current_user == @post.user %>
      <%= link_to 'Edit Post', edit_post_path(@post), class:"btn btn-secondary" %>
      <%= link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to remove this post?'}, class:"btn btn-danger" %>
    <% elsif  Match.find_by(matcher: current_user, matchee: @post.user).nil? && Match.find_by(matchee: current_user, matcher: @post.user, status: [0, 2]).nil? %>
    <!-- have on under posted date - have a friend icon -->
      <%= link_to "Create match", matches_path(match: { matchee_id: @post.user.id, status: 1 }, request: "post" ), method: :post, class: "btn btn-primary" %>
    <% end %>
</div>

