<div class="card-white">
  <h1 class="mt-4 mc-3" > Posts </h1>
    <div class="card-product">
      <!-- change to user avatar pic -->
      <%= cl_image_tag @post.user.avatar.key, class:"post-image" %>
      <div class="card-product-infos">
         <% if  Match.find_by(matcher: current_user, matchee: @post.user).nil? && Match.find_by(matchee: current_user, matcher: @post.user, status: [0, 2]).nil? %>
          <%= link_to matches_path(match: { matchee_id: @post.user.id, status: 1 }, request: "post" ), method: :post do %>
          <i class="fas fa-user-plus fa-2x mb-2 pink-friend"></i>
          <% end %>
        <% end %>
        <h2> <%= @post.title %> </h2>
        <p> Posted by: <%= @post.user.first_name %> <%= @post.user.last_name %> </p>
        <p>  Date posted: <%= @post.date %></p>
      </div>
    </div>
    <div class="card-product">
      <p style="
    padding: 12px;
    font-size: 16px;"> <%= @post.description %> </p>
    </div>
        <div class="postbutton">
    <% if current_user == @post.user %>
      <%= link_to 'Edit Post', edit_post_path(@post), class:"btn btn-secondary" %>
      <%= link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to remove this post?'}, class:"btn btn-danger" %>
    <!-- have on under posted date - have a friend icon -->
    <% end %>
    </div>
     <div style="margin-top: 10px;margin-bottom: 10px;">
    <div class="border"></div>
  </div>
<!--     <div class="card-product-infos">
      <h2>Comments</h2>
    </div> -->


    <div class="card-product-infos">
      <% @post.comments.each do |comment| %>
      <p style="font-weight: bold;"> <%= comment.user.username %></p>
      <p><%= comment.reply %> </p>
      <% end %>
    </div>
    <br>
    <div class="chat-box">
      <%= simple_form_for [@post, @comment] do |f| %>
    <div class="card-product-infos d-flex chat-line">
      <%= f.input :reply, label: false, placeholder: "Comment" %>
      <%= f.submit ">", class: "btn-chat btn-primary" %>
    <% end %>
    </div>
  </div>
</div>

